
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/***LOGIN***/
.backgroundclass {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,1,45,1) 9%, rgba(10,10,158,1) 50%, rgba(4,3,69,1) 95%, rgba(2,0,36,1) 100%);
    background-size: 100%;
    animation: toColor 4s linear alternate infinite;
    transition: 2s;
}

@keyframes toColor {
    0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
    25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
    50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
    75%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
    100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}

.toolbarclass {
    background-image: url('/images/login/login-toolbar.png');
    background-size: cover;
    background-position: 50% 50%;
    background-color: rgba(0, 0, 0, 0.418);
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    height: 85px;
    width: 100%;
}

.input-login {
    font-family: 'Roboto';
    font-weight: 300;
}

.card-login {
    border: solid 2px grey;
    background-color: rgba(128, 128, 128, 0.363);
    border-radius: 15px 15px;
}

.card-login button {
    font-family: 'Roboto';
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.363);
    margin-bottom: 2%;
    padding: 5px 5% 5px 5%;
    color: #fff;
    border-radius: 10px 10px 10px 10px;
}

/*******/

/***ROOT***/
:root{
    --main-bg-color: #d2d2ff;
}
.root-container {
    background-color: var(--main-bg-color);
    opacity: 90%;
    font-size: 12px !important;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

#app {
    font-family:'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
   font-size: 12px !important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
   font-size: 12px !important;
}

.verticalSeparator {
    float: left;
    background-color: black;
    height: 100%;
    width: 2px;
}

.totalInput {
    font-family: 'Roboto';
    font-weight: 500;
    border: solid 1px rgb(63, 81, 181);
    background-color: #fff;
    color: black;
    text-align: right;
    padding: 5px;
}

.select-ventas-import {
    font-family: 'Roboto';
    font-weight: 500;
    border-bottom: solid 1px rgb(63, 81, 181);
    color: rgb(172, 171, 171);
    text-align: right;
    padding: 5px 10px 5px 10px;
}

.horizontalSeparator {
    width: 100%;
    height: 2px;
    margin-right: 10px;
    background-color: black;
}

.text-alert-error p {
    color: #2364aa;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
}

.text-alert-error h1 {
    color: red;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
}

.text-alert-success p {
    color: #2364aa;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
}

.text-alert-success h1 {
    color: rgb(0, 146, 90);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
}

.text-alert-question p {
    color: #2364aa;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
}

.text-alert-question h1 {
    margin-top: 5px;
    color: rgb(235, 176, 14);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
}

.text-alert-info h1 {
    margin-top: 5px;
    color: rgb(14, 147, 235);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
}

/*******/

/***IMAGES***/
.text-alert-error img{
    width: 150px;
    height: 150px;
    margin-top: 5%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.text-alert-success img{
    width: 150px;
    height: 150px;
    margin-top: 5%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.text-alert-question img{
    width: 150px;
    height: 150px;
    margin-top: 5%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.text-alert-info img{
    width: 150px;
    height: 150px;
    margin-top: 5%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.label_image_not_selected {
    border: solid 3px grey;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
}

.label_image_selected {
    border: solid 3px green;
    box-shadow: rgba(128, 128, 128, 0.336) 2px 2px 2px 2px;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
}
/*******/

/*** MAIN NAVIGATION ***/
.main_navigation {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
/*******/